<!-- views/index.ejs -->
<!doctype html>
<html>
  <head>
    <title>登入主頁</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <!-- load bootstrap css -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- load fontawesome -->
        <style>
          body 		{ padding-top:80px; }    
        </style>
      </head>
  <body>
    <div class="container">

      <div class="jumbotron text-center">
        <h2>
          <span class="fa fa-lock"></span> 歡迎來到Seafood Allergy
        </h2>

        <br>
        <a href="/auth/facebook" class="btn btn-primary">
          <span class="fa fa-facebook"></span> Facebook 登入
        </a>
        
        <a href="/login" class="btn btn-default">
          <span class="fa fa-user"></span> 我要登入 Log in 
        </a>
        <a href="/signup" class="btn btn-default">
          <span class="fa fa-user"></span> 註冊 Sign up
        </a>
        
      </div>

    </div>
  </body>
</html>